{% extends "base.html" %} {% block title %}{% endblock %}

{% block content %}
<h3 style="font-family: 'Outfit', sans-serif; font-size: 3rem; font-weight:900 ; color: #ededed;">Sign up</h3>
<br  />
<form method="POST">
    <div class="form-group">
        <label for="email" style="font-family: 'Outfit', sans-serif; font-size: 1.5rem; font-weight:900 ; color: #ededed;">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" style="font-family: 'Outfit', sans-serif; font-size: 1.5rem; font-weight:900;"/>
    </div>
    <br/>
    <div class="form-group">
        <label for="firstName" style="font-family: 'Outfit', sans-serif; font-size: 1.5rem; font-weight:900 ; color: #ededed;">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" style="font-family: 'Outfit', sans-serif; font-size: 1.5rem; font-weight:900;"/>
    </div>
    <br/>
    <div class="form-group">
        <label for="password1" style="font-family: 'Outfit', sans-serif; font-size: 1.5rem; font-weight:900 ; color: #ededed;">Password</label>
        <input type="password" class="form-control" id="password1" name="password1" style="font-family: 'Outfit', sans-serif; font-size: 1.5rem; font-weight:900;"/>
    </div>
    <br/>
    <div class="form-group">
        <label for="password2" style="font-family: 'Outfit', sans-serif; font-size: 1.5rem; font-weight:900 ; color: #ededed;">Confirm your Password</label>
        <input type="password" class="form-control" id="password2" name="password2" style="font-family: 'Outfit', sans-serif; font-size: 1.5rem; font-weight:900;"/>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-primary"><a class="nav-item nav-link" id="login" href="/">Back to Login</a></button>
</form>
{% endblock %}